{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-12 p-8 bg-slate-50 dark:bg-slate-900 shadow-lg rounded-lg max-w-4xl">
    <!-- Company Logo -->
    <div class="flex justify-center mb-8">
        <img src="{% static 'images/vector4.jpg' %}" alt="vector4 logo"
            class="w-24 h-24">
    </div>

    <!-- Page Header -->
    <h2 class="text-4xl font-bold text-center text-slate-700 dark:text-slate-300 mb-6">
        Active Project for {{ request.user.username }}
    </h2>

    <!-- Active Project Details -->
    <div class="bg-slate-100 dark:bg-slate-800 p-6 rounded-lg shadow-sm">
        <h3 class="text-2xl font-semibold text-slate-700 dark:text-slate-200 mb-4">Project Details</h3>
        <p class="text-lg text-slate-600 dark:text-slate-400 mb-2">
            <strong>Project Name:</strong> {{ active_project.name }}
        </p>
        <p class="text-lg text-slate-600 dark:text-slate-400 mb-2">
            <strong>Project Description:</strong> {{ active_project.description }}
        </p>
        <p class="text-lg text-slate-600 dark:text-slate-400 mb-2">
            <strong>Total Budget:</strong>
            <span class="text-slate-800 dark:text-slate-300 font-semibold">{{ active_project.total_budget }}</span>
        </p>
        <p class="text-lg text-slate-600 dark:text-slate-400 mb-2">
            <strong>Due Date:</strong>
            <span class="text-blue-600 dark:text-blue-400 font-semibold">{{ active_project.due_date }}</span>
        </p>
    </div>

    <!-- Expenses Section -->
    <h3 class="text-3xl font-semibold text-center text-slate-700 dark:text-slate-300 mt-8 mb-4">Expenses</h3>
    <ul class="space-y-4">
        {% for expense in expenses %}
        <li class="bg-slate-100 dark:bg-slate-800 p-4 rounded-lg shadow-sm flex justify-between items-center">
            <div class="text-slate-600 dark:text-slate-300">
                {{ expense.description }}
            </div>
            <div class="bg-blue-100 dark:bg-blue-700 text-blue-600 dark:text-blue-200 py-2 px-4 rounded-full text-sm font-medium">
                {{ expense.initial_amount }}
            </div>
        </li>
        {% endfor %}
        {% if not expenses %}
        <li class="text-center text-slate-500 dark:text-slate-400 italic">No expenses recorded yet.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}
