{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Active Project for {{ request.user.username }}</h2>
    
                <p><strong>Project Name:</strong> {{ active_project.name }}</p>
                <p><strong>Project Description:</strong> {{ active_project.description }}</p>
                <p><strong>Total Budget:</strong> {{ active_project.total_budget }}</p>
                <p><strong>Due Date:</strong> {{ active_project.due_date }}</p>

    <h3>Expenses</h3>
<ul class="list-group">
                    {% for expense in expenses %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
                 <span>{{ expense.description }}</span>
                <span class="badge bg-dark">{{ expense.initial_amount }}</span>
        </li>
{% endfor %}
</ul>
</div>
{% endblock %}
