{% extends "base.html" %}

{% block title%}
Team Management Tracking
{%endblock%}

{% block content %}
      <main class="px-3">
      <h1>Team Management Tracking</h1>
      <p class="lead">Welcome to the future of accountability</p>
      <p class="lead">
      <a href="{% url 'signup' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Sign up</a>
      <a href="{% url 'signin' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Sign in</a>
      </p>
      </main>
{% endblock %}




    

